.feedback{
    margin:20px;
}
.feedback--rating {
    /*float:left;*/
    width:300px;
    overflow:auto;
    /*border:1px solid black;*/
    /*text-align:center;*/
    /*margin:0 auto;*/
}

.feedback--submit{
    font-size:16px;
    color:rgb(30, 73, 186);
    background-color:#EEE;
    /*border:1px solid rgb(30,73,186);*/
}

.feedback--textbox{
    min-width:280px;
    min-height:70px;
}

/* CSS for stars */
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.feedback--rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.feedback--rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    line-height:1.2;
    color:#ddd;
    /*text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);*/
}

.feedback--rating:not(:checked) > label:before {
    content: '★ ';
}

.feedback--rating:not(.feedback--rated):not(:checked) > label:hover,
.feedback--rating:not(.feedback--rated):not(:checked) > label:hover ~ label {
    color: gold;
    color: #2B95FD;
    /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}


.feedback--rating > input:checked ~ label {
    color: #f70;
    color: rgb(30, 73, 186);
    /*text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);*/
}




.feedback--rating:not(.feedback--rated) > input:checked + label:hover,
.feedback--rating:not(.feedback--rated) > input:checked + label:hover ~ label,
.feedback--rating:not(.feedback--rated) > input:checked ~ label:hover,
.feedback--rating:not(.feedback--rated) > input:checked ~ label:hover ~ label,
.feedback--rating:not(.feedback--rated) > label:hover ~ input:checked ~ label {
    color: #ea0;
    color:blue;
    /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}

.feedback--rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}